<h2>Analysis - Idea # :{{ ideaId }}</h2>
<br>
<form action="/analysis/{{ ideaId }}" method="POST">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Month</th>
                <th scope="col">1</th>
                <th scope="col">2</th>
                <th scope="col">3</th>
                <th scope="col">4</th>
                <th scope="col">5</th>
                <th scope="col">6</th>
                <th scope="col">7</th>
                <th scope="col">8</th>
                <th scope="col">9</th>
                <th scope="col">10</th>
                <th scope="col">11</th>
                <th scope="col">12</th>
                <th scope="col">TOTAL</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Initial Cost</th>
                <td>{{ initial }}</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td> {{ initial }} </td>
            </tr>
            <tr>
                <th scope="row">Monthly Running Cost</th>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td> {{ totalRunning }} </td>
            </tr>
            <tr>
                <th scope="row">Total Monthly Expense</th>
                <td>{{ totalFirst }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td> {{ totalRunning }} </td>
            </tr>
            <tr>
                <th scope="row">Goal of Monthly Income</th>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>{{ income }}</td>
                <td>{{ income }}</td>
                <td>{{ income }}</td>
                <td>{{ income }}</td>
                <td>{{ income }}</td>
                <td>{{ income }}</td>
                <td>{{ income }}</td>
                <td>{{ income }}</td>
                <td>{{ income }}</td>
                <td> {{ totalIncome }} </td>
            </tr>
            <tr>
                <th scope="row">Monthly NOI</th>
                <td>{{ FirstmonthNoi }}</td>
                <td>{{ MonthlyNoi }}</td>
                <td>{{ MonthlyNoi }}</td>
                <td>{{ MonthlyNoi }}</td>
                <td>{{ MonthlyNoi }}</td>
                <td>{{ MonthlyNoi }}</td>
                <td>{{ MonthlyNoi }}</td>
                <td>{{ MonthlyNoi }}</td>
                <td>{{ MonthlyNoi }}</td>
                <td>{{ MonthlyNoi }}</td>
                <td>{{ MonthlyNoi }}</td>
                <td>{{ MonthlyNoi }}</td>
                <td> {{ totalIncome }} </td>
            </tr>
             <tr>
                <th scope="row">NOI</th>
                <td>{{ FirstmonthNoi }}</td>
                <td>{{ MonthlyNoi }}</td>
                <td>{{ MonthlyNoi }}</td>
                <td>{{ MonthlyNoi }}</td>
                <td>{{ MonthlyNoi }}</td>
                <td>{{ MonthlyNoi }}</td>
                <td>{{ MonthlyNoi }}</td>
                <td>{{ MonthlyNoi }}</td>
                <td>{{ MonthlyNoi }}</td>
                <td>{{ MonthlyNoi }}</td>
                <td>{{ MonthlyNoi }}</td>
                <td>{{ MonthlyNoi }}</td>
                <td> {{ totalIncome }} </td>
            </tr>
        </tbody>
    </table>
    
    <br>
    <br>

    <a type="button" class="btn btn-light" onclick="history.back()">Back</a>
    <a type="button" class="btn btn-light" onclick="location.reload(true)">Refresh</a>
    <a type="button" class="btn btn-light" onclick="location.href='http://localhost:3000'">Go to Main</a>

</form>