<h2>Analysis - Idea # :{{ ideaId }} -{{ summary }}</h2>
<a type="button" class="btn btn-light" onclick="history.back()">Back</a>
<a type="button" class="btn btn-light" onclick="location.reload(true)">Refresh</a>
<a type="button" class="btn btn-light" onclick="location.href='http://localhost:3000'">Go to Main</a>
<br>
<h4>When the total income reach to the positive : {{ goalMonth }} month</h4>
<h4>Initial Cost : {{ initial }} <br>
    Monthly Running Cost : {{ running }} <br>
    Total potential debt : {{ GMEx }}
</h4>
<a href="/edit/{{ ideaId }}" class="btn btn-warning"><span class="button3">EDIT</span></a>
<br><br>
<form action="/analysis/{{ ideaId }}" method="POST">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Month</th>
                <th scope="col">1</th>
                <th scope="col">2</th>
                <th scope="col">3</th>
                <th scope="col">4</th>
                <th scope="col">5</th>
                <th scope="col">6</th>
                <th scope="col">7</th>
                <th scope="col">8</th>
                <th scope="col">9</th>
                <th scope="col">10</th>
                <th scope="col">11</th>
                <th scope="col">12</th>
                <th scope="col">TOTAL</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Initial Cost</th>
                <td>{{ initial }}</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td> {{ initial }} </td>
            </tr>
            <tr>
                <th scope="row">Monthly Running Cost</th>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td> {{ TRunning }} </td>
            </tr>
            <tr>
                <th scope="row">Total Monthly Expense</th>
                <td>{{ T1 }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td>{{ running }}</td>
                <td> {{ TEx }} </td>
            </tr>
            <tr>
                <th scope="row">Goal of Monthly Income</th>
                <td>{{ F3Income }}</td>
                <td>{{ F3Income }}</td>
                <td>{{ F3Income }}</td>
                <td>{{ income }}</td>
                <td>{{ income }}</td>
                <td>{{ income }}</td>
                <td>{{ income }}</td>
                <td>{{ income }}</td>
                <td>{{ income }}</td>
                <td>{{ income }}</td>
                <td>{{ income }}</td>
                <td>{{ income }}</td>
                <td> {{ TIncome }} </td>
            </tr>
            <tr>
                <th scope="row">Monthly NOI</th>
                <td>{{ M1Noi }}</td>
                <td>{{ M23Noi }}</td>
                <td>{{ M23Noi }}</td>
                <td>{{ MrestNoi }}</td>
                <td>{{ MrestNoi }}</td>
                <td>{{ MrestNoi }}</td>
                <td>{{ MrestNoi }}</td>
                <td>{{ MrestNoi }}</td>
                <td>{{ MrestNoi }}</td>
                <td>{{ MrestNoi }}</td>
                <td>{{ MrestNoi }}</td>
                <td>{{ MrestNoi }}</td>
                <td> {{ totalMNoi }} </td>
            </tr>
            <tr>
                <th scope="row">NOI</th>
                <td>{{ M1Noi }}</td>
                <td>{{ T2Noi }}</td>
                <td>{{ T3Noi }}</td>
                <td>{{ T4Noi }}</td>
                <td>{{ T5Noi }}</td>
                <td>{{ T6Noi }}</td>
                <td>{{ T7Noi }}</td>
                <td>{{ T8Noi }}</td>
                <td>{{ T9Noi }}</td>
                <td>{{ T10Noi }}</td>
                <td>{{ T11Noi }}</td>
                <td>{{ T12Noi }}</td>
                <td> {{ TFyearNoi }} </td>
            </tr>
        </tbody>
    </table>
    <script>
        function roundFloat(number, n) {
            var _pow = Math.pow(10, n);
            return Math.round(number * _pow) / _pow;
        }
        roundFloat(T, 4)
    </script>
</form>