<div style="background: url(http://www.line-tatsujin.com/stamp/outline/a30455-0.png) no-repeat 1200px 0px;">
    <div class="content1">
        <h2>Analysis - Idea #{{ ideaId }} : {{ summary }}</h2>
        <a class="btn btn-light" onclick="history.back()">Back</a>
        <a class="btn btn-light" onclick="location.reload(true)">Refresh</a>
        <a class="btn btn-light" onclick="location.href='http://localhost:3000'">Go to Main</a>
        <br><br>
        <div class="card" style="width: 40em;">
            <div class="card-body">
                <h5 class="card-title">Time to reach net positive income :
                    <font color="red">{{ goalMonth }}</font>
                    month</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    Initial Cost : {{ currency initial }} <br>
                    Monthly Running Cost : {{ currency running }} <br>
                    Total potential risk for employer : {{ currency GMEx }}
                </h6>
            </div>
        </div>
        <br>
        <a href="/edit/{{ ideaId }}" class="btn btn-warning"><span class="button3">EDIT</span></a>
        <a class="btn btn-outline-danger" href="/myaccount"><span class="button3">Go To My Page</span></a>
        <a href="/calculator" class="btn btn-outline-primary"><span class="button3">Calculator</span></a>
        <br><br>
    </div>
    <script type="text/javascript">
        onload = function () {
            let ts = document.getElementsByTagName('td'), t, cnt = ts.length, i = 0;
            for (; i < cnt; ++i) {
                t = ts[i];
                if (t.style.textAlign == "right") {
                    t.innerHTML = addComma(t.innerHTML);
                }
            }
        }
        function addComma(str) {
            n = Number(str.replace(/[^0-9.]/g, ""));
            n = n.toFixed(2);
            return String(n).replace(/^([+-]?\d+)(\d{3})/, "$1,$2");
        }

        jQuery(function ($) {
            $("#table td").filter(function () {
                return parseInt($(this).text()) < 0;
            }).addClass("minus");
        });
    </script>

    <form action="/analysis/{{ ideaId }}" method="POST" name="form_comma">
        <table class="table table-hover table-bordered" id="table" data-sheet-name="analysis">
            <thead>
                <tr>
                    <th scope="col">Month</th>
                    <th scope="col">1</th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                    <th scope="col">5</th>
                    <th scope="col">6</th>
                    <th scope="col">7</th>
                    <th scope="col">8</th>
                    <th scope="col">9</th>
                    <th scope="col">10</th>
                    <th scope="col">11</th>
                    <th scope="col">12</th>
                    <th scope="col">TOTAL</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Initial Cost</th>
                    <td>{{ currency initial }}</td>
                    <td>{{ currency zero }}</td>
                    <td>{{ currency zero }}</td>
                    <td>{{ currency zero }}</td>
                    <td>{{ currency zero }}</td>
                    <td>{{ currency zero }}</td>
                    <td>{{ currency zero }}</td>
                    <td>{{ currency zero }}</td>
                    <td>{{ currency zero }}</td>
                    <td>{{ currency zero }}</td>
                    <td>{{ currency zero }}</td>
                    <td>{{ currency zero }}</td>
                    <td> {{ currency initial }} </td>
                </tr>
                <tr>
                    <th scope="row">Monthly Running Cost</th>
                    <td>{{ currency running }}</td>
                    <td>{{ currency running }}</td>
                    <td>{{ currency running }}</td>
                    <td>{{ currency running }}</td>
                    <td>{{ currency running }}</td>
                    <td>{{ currency running }}</td>
                    <td>{{ currency running }}</td>
                    <td>{{ currency running }}</td>
                    <td>{{ currency running }}</td>
                    <td>{{ currency running }}</td>
                    <td>{{ currency running }}</td>
                    <td>{{ currency running }}</td>
                    <td> {{ currency TRunning }} </td>
                </tr>
                <tr>
                    <th scope="row">Total Monthly Expense</th>
                    <td>{{ currency T1 }}</td>
                    <td>{{ currency running }}</td>
                    <td>{{ currency running }}</td>
                    <td>{{ currency running }}</td>
                    <td>{{ currency running }}</td>
                    <td>{{ currency running }}</td>
                    <td>{{ currency running }}</td>
                    <td>{{ currency running }}</td>
                    <td>{{ currency running }}</td>
                    <td>{{ currency running }}</td>
                    <td>{{ currency running }}</td>
                    <td>{{ currency running }}</td>
                    <td> {{ currency TEx }} </td>
                </tr>
                <tr bgcolor="#ffe4e1">
                    <th scope="row">Estimated Monthly Income</th>
                    <td>{{ currency F3Income }}</td>
                    <td>{{ currency F3Income }}</td>
                    <td>{{ currency F3Income }}</td>
                    <td>{{ currency income }}</td>
                    <td>{{ currency income }}</td>
                    <td>{{ currency income }}</td>
                    <td>{{ currency income }}</td>
                    <td>{{ currency income }}</td>
                    <td>{{ currency income }}</td>
                    <td>{{ currency income }}</td>
                    <td>{{ currency income }}</td>
                    <td>{{ currency income }}</td>
                    <td> {{ currency TIncome }} </td>
                </tr>
                <tr>
                    <th scope="row">Estimated Monthly NOI</th>
                    <td>{{ currency M1Noi }}</td>
                    <td>{{ currency M23Noi }}</td>
                    <td>{{ currency M23Noi }}</td>
                    <td>{{ currency MrestNoi }}</td>
                    <td>{{ currency MrestNoi }}</td>
                    <td>{{ currency MrestNoi }}</td>
                    <td>{{ currency MrestNoi }}</td>
                    <td>{{ currency MrestNoi }}</td>
                    <td>{{ currency MrestNoi }}</td>
                    <td>{{ currency MrestNoi }}</td>
                    <td>{{ currency MrestNoi }}</td>
                    <td>{{ currency MrestNoi }}</td>
                    <td> {{ currency totalMNoi }} </td>
                </tr>
                <tr>
                    <th scope="row"> Estimated Total NOI</th>
                    <td>{{ currency M1Noi }}</td>
                    <td>{{ currency T2Noi }}</td>
                    <td>{{ currency T3Noi }}</td>
                    <td>{{ currency T4Noi }}</td>
                    <td>{{ currency T5Noi }}</td>
                    <td>{{ currency T6Noi }}</td>
                    <td>{{ currency T7Noi }}</td>
                    <td>{{ currency T8Noi }}</td>
                    <td>{{ currency T9Noi }}</td>
                    <td>{{ currency T10Noi }}</td>
                    <td>{{ currency T11Noi }}</td>
                    <td>{{ currency T12Noi }}</td>
                    <td> {{ currency TFyearNoi }} </td>

                </tr>
            </tbody>
        </table>
    </form>
</div>
<button type="button" id="dl-xlsx" class="btn btn-secondary button1">Export to Spreadsheet</button><br><br><br>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.9.10/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>
<script>
    document.getElementById('dl-xlsx').addEventListener('click', function () {
        let wopts = {
            bookType: 'xlsx',
            bookSST: false,
            type: 'binary'
        };

        let workbook = { SheetNames: [], Sheets: {} };

        document.querySelectorAll('table.table-bordered').forEach(function (currentValue, index) {
            let n = currentValue.getAttribute('data-sheet-name');
            if (!n) {
                n = 'Sheet' + index;
            }
            workbook.SheetNames.push(n);
            workbook.Sheets[n] = XLSX.utils.table_to_sheet(currentValue, wopts);
        });

        let wbout = XLSX.write(workbook, wopts);

        function s2ab(s) {
            let buf = new ArrayBuffer(s.length);
            let view = new Uint8Array(buf);
            for (let i = 0; i != s.length; ++i) {
                view[i] = s.charCodeAt(i) & 0xFF;
            }
            return buf;
        }

        saveAs(new Blob([s2ab(wbout)], { type: 'application/octet-stream' }), 'Intrapreneurship_Analysis.xlsx');
    }, false);
</script>