<h2>Comments for Idea #: {{ id }} - {{ idea.summary }}</h2>
<div class="card-body">
    <h5 class="card-title">Summary : {{ idea.summary }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">
        Description : {{ idea.description }}
        Initial Cost : {{ currency initial }} <br>
        Monthly Running Cost : {{ currency running }} <br>
        Limit of Participants : {{ idea.numberOfParticipant }} people <br>
        Number of Month to pay off debt : {{ idea.goalYears }}th month
        Comment :
    </h6>

    New Comment :

</div>


<a type="button" class="btn btn-light" onclick="history.back()">Back</a>
<a type="button" class="btn btn-light" onclick="location.reload(true)">Refresh</a>
<a type="button" class="btn btn-light" onclick="location.href='http://localhost:3000'">Go to Main</a>

</form>