<div style="background: url(http://www.line-tatsujin.com/stamp/outline/a30455-0.png) no-repeat 1200px 0px;">
    <div class="content1">

        <h2>Edit Idea # {{ idea.id }} - {{ idea.summary }}</h2>
        <a class="btn btn-light" onclick="history.back()">Back</a>
        <a class="btn btn-light" onclick="location.reload(true)">Refresh</a>
        <a class="btn btn-light" onclick="location.href='http://localhost:3000'">Go to Main</a>
        <br><br>
        <form action="/edit/:id" method="POST">
            <input type='hidden' name='id' value={{ idea.id }} />
            <div class="form-group">
                Summary: <input class="form-control" type="text" name="summary" value="{{ idea.summary }}" />
                <br>
                Description : <textarea rows="10" cols="80" class="form-control"
                    name="description"> {{ idea.description }} </textarea>
                <br>
                Initial Cost: <input class="form-control" type="text" name="initialCost"
                    value="{{ idea.initialCost }}" />
                <br>
                Monthly Running Cost: <input class="form-control" type="text" name="runningCost"
                    value="{{ idea.runningCost }}" />
                <br>
                Number of Month to pay off debt: <input class="form-control" type="text" name="goalYears"
                    value="{{ idea.goalYears }}" /> <br>
                Limit Of Participants: <input class="form-control" type="text" name="numberOfParticipant"
                    value="{{ idea.numberOfParticipant }}" />
                <br>
            </div>
            <br>
            <br>
            <button class="btn btn-primary button1" type="submit">Submit Button</button>
        </form>
    </div>
</div>